.aside{
    color: black;
    display: flex;
    flex-direction: column;
    margin:1px ;
    float: left;
    width: 400px;
    border: 3px solid rgb(235, 231, 231);
    border-radius: 5px;
    font-size: 30px;
    background-color: #c5c5c5;
}

.fa{
    color: yellow;
margin: auto;
}

.fa1{
    color: #ff7779;
margin: auto;
}