h2{
text-align: center;
font-size: 70px;
background-color: rgb(233, 233, 233);
width: 50%;
margin: 20px auto;
border-radius: 20px;
}

.badge{
    background-color: rgb(147, 151, 156);
    width: 30%;
    padding: 30px;
    margin: auto;
    float: right;
    width: 72%;
    height: 350px;
    border-radius: 10px;
    
}
img{
    width: 200px;
    height: 200px;
    border: solid 3px #ff7779;
    border-radius: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.name{
  text-align: center;
font-size: 70px;
background-color: rgb(153, 240, 211);
width: 50%;
margin: 20px auto;
border-radius: 20px;
}
