.p{
    background-color: rgb(167, 166, 162);
    padding: 20px;
    text-align: center;
    color: #ff7779;
    font-size: 40px;
    width: 20%;

}

.post{
    background-color: rgb(197, 197, 197);
    padding: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Potta One', cursive;
    color: rgb(0, 0, 0);
    width: 50%;
    margin: auto 680px ;

}