.searchPage__info {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 30px;
}

.searchPage__info > button {
  text-transform: inherit;
  margin: 5px;

  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}
.select {
  width: 300px;
  display: inline;
  padding: 300px;
  border-radius: 20px;
  text-align: center;
}

.nearby {
position: relative;
left : 600px;
background-color: rgb(243, 243, 243);
width: 720px;
}


.nearby1 {
  position: relative;
  left : 800px;
  padding: 30px;
  }

  .search{
    position: relative;
    left : 660px;
    padding: 20px;
    width: 30%;
    padding: 20px;
    background-color: aliceblue;
    border: 3px solid rgb(45, 45, 216);
    border-radius: 10px;
    font-size: 30pxc;
    text-align: center;
    cursor: pointer;
  }
