.x, .y {
    border-radius: 15px;
    box-shadow: 5px 10px 18px gray;
    height: 500px;
}
.pictures{
    width: 55%;
}
.avail {
    border-radius: 15px;
    box-shadow: 5px 3px 15px rgb(196, 191, 191);
    position: sticky;
}
.user-img{
    border-radius: 80%;
    width: 30%;
}
.loc{
    font-size: 40px;
}
.comment{
    font-size: 20px;
}
.review{
    display: block;
}
.price {
    font-size: 22px;
    font-weight: bold;
}

.sv { 
    display: flex;
    float: right;
    width: 100px;
    font-size: 26px;
}

.hotyp{
    font-size: 28px;
    font-weight: bolder;
}

.dt {
    border: 1px solid gray;
    border-radius: 7px;
}

.reviewer {
    height: 200px;
    width: 100px;
}
.check-form{
    background-color: #DDDDDD;
}