   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    height: 80px;
  }
 
  .borderNav{
    border: 0px ;
  }
 
 @media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: #1C2331!important;
  }
}
/* nav{
  background-color:#6e7fa1;
} */
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.9)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}