.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(184, 182, 182);
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.searchResult:hover {
  background-color: rgb(255, 255, 255);
}
.detailBtn:hover {
  text-decoration: none;
}
.Detailsbtn:hover {
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  /* background-color: #425d8b; */
}
/* .searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
  } */

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

/* .searchResult__infoTop {
    width: 40vw;
  } */

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__star {
  color: red;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResults__price > p {
  text-align: center;
}

.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.button {
  background-color: #577ab7;
  padding: 8px;
  border-radius: 10px;
  padding-right: px;
  float: right;
}
button {
  background-color: black;
}
